.yearly-calendar {
    width: 100%;
    border-collapse: collapse !important;
    border-collapse: initial;
  }

  .yearly-month-table {
    width: 100%;
    padding: 10px;
    border-spacing: 0px;
    border: 1px solid gray;
  }
  
  
  .yearly-month-table th {
    text-align: center;
    color: white;
    padding: 10px;
  }
  
  .weekday-cell {
    text-align: center;
    padding: 10px;
  }
  
  td {
    text-align: center;
    /* padding: 10px; */
    /* border: 1px solid #ddd; */
    padding-top: 10px;
    color: white;
  }
  
  .empty-cell {
    background-color: transparent;
  }
  

  
  @media (max-width: 768px) {
    .yearly-calendar {
      font-size: 12px;
    }
  }
